.ColorBox{
    width: 20%;
    height: 25%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-bottom: -3.7px;
}
/* 
    CSS for the Name and More Button
*/
.ColorBox-description{
    text-transform: uppercase;
    position: absolute;
    margin-left: 10px;
    margin-bottom: 10px;
    left: 0;
    bottom: 0;
    color: white;
    font-size: 13px;
}
.ColorBox-more-btn{
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    border: none;
    right: 0;
    bottom: 0;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    font-size: 13px;

}
/* 
    CSS for the button used to copy the color code
    - includes hover effect
    - Copy overlay functionality
*/
.ColorBox-copy-button{
    cursor: pointer;
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 30px;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -50px;
    text-align: center;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    opacity: 0;
}
.ColorBox:hover .ColorBox-copy-button{
    opacity: 1;
    transition: opacity .3s ease-in;
}
.ColorBox-copy-overlay{
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(0.1);
}
.ColorBox-copy-overlay.show{
    position: absolute;
    opacity: 1;
    transform: scale(50);
    transition: transform 0.75s ease-in-out;
    z-index: 5;
}
.ColorBox-copy-overlay-content{
    overflow-y: hidden;
    overflow-x: hidden;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 3rem;
    transform: scale(0.1);
    opacity: 0;
    color: white;
}
.ColorBox-copy-overlay-content.show{
    transition: all 0.5s ease-in-out 0.3s;
    opacity: 1;
    z-index: 5;
    transform: scale(1);
}
.ColorBox-copy-overlay-content h1{
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.2);
    text-shadow: 1px 2px black;
    text-transform: uppercase;
}
.ColorBox-copy-overlay-content p{
    font-weight: 100;
}