.NavBar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 6vh;
    
}
.NavBar-logo{
    padding: 0 15px;
    font-size: 22px;
    height: 100%;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    border-right: .1px solid gray;
}
.NavBar-logo a{
    color: black;
    padding-left: 10px;
    text-decoration: none;
}
.NavBar-logo img{
    width: 2em;
}
.NavBar-palette-slider{
    width: 350px;
    margin: 0 10px;
    display: inline-block;

}
.NavBar-select-container{
    display: flex;
    justify-content: flex-end;
}
/* 
    CSS Overrides for the react slider package
*/
.rc-slider-track{
    background-color: transparent;
}
.rc-slider-rail{
    height: 8px;
}
.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover{
    border: 2px solid #03a2ec;
    outline: none;
    background-color: #03a2ec;
}
