.Palette{
    height: calc(100vh - 15px);
}
.Palette-colors{
    height: 90%;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;    
}

